<% if flash[:success] %>
    <h4 style="color: red;">
      <%= flash[:success] %>
    </h4>
<% end %>

<h1> <%= @author.name %> </h1>

<% @author.books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book), :method => :get %>
  </li>
<% end %>

<%= button_to "Delete", author_path(@author), :method => :delete %>
<%= link_to "Edit", edit_author_path(@author), :method => :get %>
<%= button_to "Back to Authors", authors_path, :method => :get %>
