<% if flash[:success] %>
    <h4 style="color: red;">
      <%= flash[:success] %>
    </h4>
<% end %>

<h1> <%= @book.title %> </h1>

<h4>
  Author: <%= link_to @book.author.name, author_path(@book.author), :method => :get %>
</h4>

<% if session[:author_id].to_i == @book.author.id %>
  <%= button_to "Delete", book_path(@book), :method => :delete %>
  <%= link_to "Edit", edit_book_path(@book), :method => :get %>
<% end %>

  <%= button_to "Back to Books", books_path, :method => :get %>


